{% extends "layout.html" %}

{% block title %} RoCry Visualizations {% endblock %}

{% block body %}

<h1>Welcome to RoCry!</h1>
<br>
<h3> You are on the visualizations page</h3>
<br>

<img class="img-xs rounded-square " src="/static/images/images/no_risk_portfolio.png" alt="Under Construct" width="1100" height="600">
<br><br>
<br><br>
<br><br>
<h5> This page is still under construction</h5>
<br><br>
<img class="img-xs rounded-square " src="/static/images/images/under_construct.jpeg" alt="Under Construct" width="400" height="300">

{% endblock %}