{% extends "layout.html" %}

{% block title %} RoCry Visualizations {% endblock %}

{% block body %}

<h1>Welcome to RoCry!</h1>
<br>
<h3> You are on the visualizations page</h3>
<br>

<img class="img-xs rounded-square " src="/static/images/images/no_risk_portfolio.png" alt="Under Construct" width="1100" height="600">
<br><br>
<br><br>
<br><br>
<h5> This page is still under construction</h5>
<br><br>
<img class="img-xs rounded-square " src="/static/images/images/under_construct.jpeg" alt="Under Construct" width="400" height="300">
<!-- RoCryBot -->
<script type="text/javascript">
    (function(d, m){
        var kommunicateSettings = 
            {"appId":"21c82409194a9603cd2d79404193fad0a","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
  </script>
  <!-- end of script-->
{% endblock %}